* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	border-radius: 10px;
	padding: 10px 20px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

button.primary {
	color: white;
	background: linear-gradient(#30bddc 0%, #5189e1 100%);
}

span.highlighted {
	background: linear-gradient(#30bddc 0%, #5189e1 100%);
	border-radius: 5px;
	padding: 0 10px;
}

p {
	color: #9f9fc8;
	font-size: 1.5rem;
}
